.container { 
    max-width: 800px; 
    margin: 0 auto;
    background-color: #000000; 
    border: thin solid #777777;   
    }

body { 
    background-image: url(gallery_images/background.jpeg); 
    font-size: 12px;
    font-family: 'PT Sans', sans-serif;  
    color: #ffffff; 
    line-height: 1.8em; 
    font-style: normal; 
    }

section { 
    padding: 20px; 
    }

.heading { 
    font-size: 64px; 
    color: #b1297d; 
    }
.subheading { 
    font-size: 18px; 
    color: #ffffff; 
    }

a:link { 
    color: rgb(89, 0, 255); 
    } 
a:visited { 
    color: rgb(0, 0, 255); 
    } 
a:hover { 
    color: rgb(194, 10, 194); 
    } 
a:active { 
    color: rgb(204, 26, 136); 
    }
    
nav {  
    font-size: 25px; 
    word-spacing: 25px; 
    letter-spacing: 8px; 
    }
.boxModel { 
    border: 8px solid purple; 
        margin: 30px; 
    }